aioredis==1.0.0
amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
Django==1.11.1
django-crispy-forms==1.6.1
django-datetime-widget==0.9.3
django-debug-toolbar==1.9.1
django-extensions==2.1.0
django-fernet-fields==0.5
django-hitcount==1.2.3
django-jsonfield==1.0.1
django-otp==0.4.3
django-redis==4.9.0
django-redis-sessions==0.6.1
django-rest-swagger==2.1.2
django-sslserver==0.20
django-summernote==0.8.10.0
djangorestframework==3.8.2
raven==6.5.0
redis==2.10.5
kombu==4.1.0
pytz==2017.3
vine==1.1.4